{{#> page}}
    {{#*inline "main"}}
        <section class="container not-found">
			<h1>Page Not Found</h1>
			<a class="button" href="/work.html">View Work</a>
			<a class="button" href="/contact.html">Contact</a>
        </section>
    {{/inline}}
{{/page}}
