{{#> page}}
    {{#*inline "main"}}
		<div class="banner -contact">
			<h1 class="banner__heading">Contact</h1>
		</div>
        <section class="container contact">
			<h2>Ways to get in touch...</h2>
			<ul class="contact__list">
				<li class="contact__list-item"><a href="mailto:ben@bencottonfilm.com">ben@bencottonfilm.com</a></li>
				<li class="contact__list-item"><a href="https://www.instagram.com/bencottonfilm/">Instagram</a></li>
			</ul>
        </section>
    {{/inline}}
{{/page}}
