{{#> page}}
    {{#*inline "main"}}
        <section class="container contact">
			<h1 class="contact__heading">Contact</h1>
			<div class="contact__image-wrapper">
				<img class="contact__image" src="assets/images/contact.jpeg" alt="Contact">
			</div>
			<ul class="contact__list">
				<li class="contact__list-item"><a href="mailto:ben@bencottonfilm.com">ben@bencottonfilm.com</a></li>
				<li class="contact__list-item"><a href="https://www.instagram.com/bencottonfilm/">Instagram</a></li>
			</ul>
        </section>
    {{/inline}}
{{/page}}
