{{#> page}}
    {{#*inline "main"}}
        <section class="container contact">
			<h1 class="contact__heading">Contact</h1>
			<div class="contact__image-wrapper">
				<img class="contact__image" src="assets/images/contact.jpeg" alt="Contact">
			</div>
			<ul class="contact__list">
				<li class="contact__list-item">Ben Cotton</li>
				<li class="contact__list-item"><a href="tel:+46555555555">+46 555 555 555</a></li>
				<li class="contact__list-item"><a href="mailto:example@mail.com">example@mail.com</a></li>
			</ul>
        </section>
    {{/inline}}
{{/page}}
