{{#> page}}
    {{#*inline "main"}}
        <div class="homepage">
				<div class="full-view__container">
					<div class="full-view__content">
						<img class="homepage__logo" src="/assets/images/bc-white-logo.png" alt="Ben Cotton Film">
						<h1 class="homepage__title">Let's create something together.</h1>
						<a class="button homepage__button" href="/work.html">View Work</a>
						<a class="button homepage__button" href="/contact.html">Contact</a>
					</div>
					{{!-- TODO: Set poster --}}
					<video autoplay="" loop="" class="full-view__background-video" poster="" src="assets/images/fall.mov"></video>
					<img class="mobileGIF" data-src="https://lewis-rcgarkskyk9ln7qkrx.stackpathdns.com/uploads/hero-content/Homepage-GIF.gif">
				</div>
        </div>
    {{/inline}}
{{/page}}