{{#> page}}
    {{#*inline "main"}}
        <div class="homepage">
			<div class="container">
				<img class="homepage__logo" src="/assets/images/bc-white-logo.png" alt="Ben Cotton Film">
				<h1 class="homepage__title">Let's create something together.</h1>
				<a class="button homepage__button" href="/work.html">View Work</a>
				<a class="button homepage__button" href="/contact.html">Contact</a>
			</div>
        </div>
    {{/inline}}
{{/page}}
