{{#> homepage}}
    {{#*inline "main"}}
        <div class="homepage">
				<div class="full-view__container">
					<div class="full-view__content">
						<img class="homepage__logo" src="/assets/images/bc-white-logo.png" alt="Ben Cotton Film Logo">
						<a class="button homepage__button" href="/work">View Work</a>
						<a class="button homepage__button" href="/contact">Contact</a>
					</div>
					<video autoplay="" loop="" class="full-view__background-video" poster="" src="assets/images/bc-homepage-video.mp4"></video>
					<img class="full-view__gif" src="assets/images/mobile.gif" />
				</div>
        </div>
    {{/inline}}
{{/homepage}}