{{#> page}}
    {{#*inline "main"}}
        <section class="container work">
        	<h1 class="work__heading">Work</h1>
			<ul class="work__list">
				<li class="work__list-item">
					<a class="work__item-link" href="https://www.youtube.com/watch?v=0G291fPr9Yc">
						<div class="work__title">Video Title</div>
						<div class="work__description">Digital Editor</div>
						<img class="work__item-image" src="https://picsum.photos/1000/600/?random" alt="Image title">
					</a>
				</li>
				<li class="work__list-item">
					<a class="work__item-link" href="https://www.youtube.com/embed/O9m0R4eFbhg">
						<div class="work__title">Video Title</div>
						<div class="work__description">Producer</div>
						<img class="work__item-image" src="https://picsum.photos/1000/600/?random" alt="Image title">
					</a>
				</li>
				<li class="work__list-item">
					<a class="work__item-link" href="https://www.youtube.com/embed/O9m0R4eFbhg">
						<div class="work__title">Video Title</div>
						<div class="work__description">Producer</div>
						<img class="work__item-image" src="https://picsum.photos/1000/600/?random" alt="Image title">
					</a>
				</li>
				<li class="work__list-item -half-column">
					<a class="work__item-link" href="https://www.youtube.com/embed/O9m0R4eFbhg">
						<div class="work__title">Video Title</div>
						<div class="work__description">Digital Producer</div>
						<img class="work__item-image" src="https://picsum.photos/1000/600/?random" alt="Image title">
					</a>
				</li>
				<li class="work__list-item -half-column">
					<a class="work__item-link" href="https://www.youtube.com/embed/O9m0R4eFbhg">
						<div class="work__title">Video Title</div>
						<div class="work__description">Videographer</div>
						<img class="work__item-image" src="https://picsum.photos/1000/600/?random" alt="Image title">
					</a>
				</li>
				<li class="work__list-item">
					<a class="work__item-link" href="https://www.youtube.com/embed/O9m0R4eFbhg">
						<div class="work__title">Video Title</div>
						<div class="work__description">Digital Editor</div>
						<img class="work__item-image" src="https://picsum.photos/1000/600/?random" alt="Image title">
					</a>
				</li>
				<li class="work__list-item">
					<a class="work__item-link" href="https://www.youtube.com/embed/O9m0R4eFbhg">
						<div class="work__title">Video Title</div>
						<div class="work__description">Producer</div>
						<img class="work__item-image" src="https://picsum.photos/1000/600/?random" alt="Image title">
					</a>
				</li>
				<li class="work__list-item">
					<a class="work__item-link" href="https://www.youtube.com/embed/O9m0R4eFbhg">
						<div class="work__title">Video Title</div>
						<div class="work__description">Producer</div>
						<img class="work__item-image" src="https://picsum.photos/1000/600/?random" alt="Image title">
					</a>
				</li>
			</ul>
        </section>
    {{/inline}}
{{/page}}