    </main>
    <script src="/assets/scripts/app.bundle.js?v={{ version }}"></script>
    {{#> scripts-block}}
        {{!-- Custom scripts per page can be added. --}}
    {{/scripts-block}}
</body>
</html>
