<header class="header" role="banner">
	<div class="container">
		<div class="header__logo">
			{{!-- <a href="/"><img src="assets/images/color_logo_transparent.png" alt=""></a> --}}
			<a href="/">Team Cotton</a>
		</div>
		<nav class="header__nav">
			<ul class="header__nav-list">
				<li class="header__nav-item"><a href="/narrative">Narrative</a></li>
				<li class="header__nav-item"><a href="/commercial">Commercial</a></li>
				<li class="header__nav-item"><a href="/music-videos">Music Videos</a></li>
				<li class="header__nav-item"><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</div>
</header>