<header class="header" role="banner">
	<div class="container">
		<nav class="header__nav">
			<ul class="header__nav-list">
				<li class="header__nav-item"><a href="/">{{> logo}}</a></li>
				<li class="header__nav-item"><a href="/work.html">Work</a></li>
				<li class="header__nav-item"><a href="/contact.html">Contact</a></li>
			</ul>
		</nav>
	</div>
</header>