.homepage {
	color: $white;
	text-transform: uppercase;
	// &::before {
	// 	content: "";
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	bottom: 0;
	// 	right: 0;
	// 	overflow: hidden;
	// 	background: url('/assets/images/bc-reel1x.gif') center center no-repeat;
	// 	background-size: cover;
	// }
	.container {
		min-height: 100vh;
		min-width: 100vw;
	}
	.full-view__container {
		position: relative;
		align-items: center;
		display: flex;
		height: 100vh;
		justify-content: center;
		position: fixed;
		top: 0;
		width: 100vw;
		&::before {
			@include absolute(0,0,0,0);
			background-color: rgba($black, 0.5);
			content: "";
			width: 100%;
			z-index: 2;
		}
	}
	.full-view__content {
		text-align: center;
		padding: 6% 0;
		z-index: 999;
	}
	.full-view__background-video {
		height: auto;
		left: 50%;
		max-width: none;
		overflow: hidden;
		position: absolute;
		top: 0;
		transform: translateX(-50%);
		width: auto;
	}
	&__logo {
		width: 30rem;
	}
	&__title {
		color: inherit;
		font-size: 2.4rem;
	}
	&__button {
		background-color: rgba($black, 1);
		font-size: 1.3rem;
		transition: all 0.3s ease;
		&:hover {
			background-color: rgba($black, 0.6);
		}
	}
}